@import "global";

/***********************************

Base elements

***********************************/

body {
  background: linear-gradient(rgb(0,13,60) 60%, $secondary-color);
  color: #fff;
  margin: 0;
}

h1 {
  font-family: $primary-font;
  font-size: 2em;
  text-align: center;
  margin: 2em 0em;
  line-height: 1.3em;
}

button {
  cursor: pointer;
}

// hover behavior buggy on touch screens

@media (pointer: fine) {

  button {
    &:hover {
      transform: $primary-scale;
      transition: transform 0.3s;
    }
  }
}
